html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(rel='stylesheet', href='/css/materialize.css')
    title #{page_title}
  body
    div(class="navbar-fixed")
      nav
        div(class="nav-wrapper")
          a(class="brand-logo right" href='#!') Logo
          a(class="sidenav-trigger" href='#' data-target='sidenav')
            i(class="material-icons") menu
          ul(class="left hide-on-med-and-down")
            li
              a(href='/')= menu.home
            li
              a(href='/login')= menu.login
            li
              a(href='/register')= menu.register

    ul(class="sidenav" id="sidenav")
      li
        a(href='/')= menu.home
      li
        a(href='/login')= menu.login
      li
        a(href='/register')= menu.register

    div(style='display:none' id='lang') #{lang}
    div(class="container")
      block content

    script(src='/js/materialize.min.js' type='application/javascript')
    script(src='/js/layout_init.js' type='application/javascript')
    block scripts