html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(rel='stylesheet', href='/css/style.css')
    block stylesheets
    title #{page_title}
  body
    div(class="navbar-fixed")
      nav
        div(class="nav-wrapper")
          a(class="brand-logo right" href='#!') Logo
          a(class="sidenav-trigger" href='#' data-target='sidenav')
            i(class="material-icons") menu
          ul(class="left hide-on-med-and-down")
            li
              a(href='/')= menu.home
            if authenticated
              li
                a(href='/' onclick="logout()")= menu.logout
              if token.role == 'admin'
                li 
                  a(href="/admin")= menu.admin
              li
                a(href='#')= menu.console
              li
                a(href='/my/route')= menu.route
            else
              li
                a(href='/login')= menu.login
              li
                if settings.reg_open == 'true'
                  a(href='/register')= menu.register

    ul(class="sidenav" id="sidenav")
      li
        a(href='/')= menu.home
      if authenticated
        li
          a(href='/' onclick="logout()")= menu.logout
        if token.role == 'admin'
          li 
            a(href="/admin")= menu.admin
        li
          a(href='#')= menu.console
        li
          a(href='/my/route')= menu.route
      else
        li
          a(href='/login')= menu.login
        li
          if settings.reg_open == 'true'
            a(href='/register')= menu.register

    div(style='display:none' id='lang') #{lang}
    div(class="container" id="container")
      block content

    script(src='/js/materialize.min.js' type='application/javascript')
    script(src='/js/main.js' type='application/javascript')
    block scripts