meta(charset='utf-8')
meta(name='viewport' content='width=device-width,initial-scale=1')
script(src="/js/form.js")

form(action='/login' method='POST')
  input(type='text' name='email' placeholder=`${forms.email}`)
  input(type='password' name='password' placeholder=`${forms.password}`)
  input(type='submit' value=`${forms.login}`)
form(action='/user/create' onsubmit='return checkRegisterForm()' method='POST' id='register')
  input(type='text' name='first_name' placeholder=`${forms.first_name}`)
  input(type='text' name='last_name' placeholder=`${forms.last_name}`)
  input(type='tel' name='phone' placeholder=`${forms.phone_number}`)
  input(type='text' name='email' placeholder=`${forms.email}`)
  input(type='password' name='password' placeholder=`${forms.password}`)
  input(type='password' name='repeat_password' placeholder=`${forms.repeat_password}`)
  input(type='submit' value=`${forms.register}`)
