meta(charset='utf-8')
meta(name='viewport' content='width=device-width,initial-scale=1')
script(src="/js/just-validate.js")
script(src="/js/form.js" type="module")

div(style='display:none' id='lang') #{lang}

form(action='/login' method='POST')
  input(type='text' data-validate-field='email' name='email' placeholder=`${forms.email}`)
  input(type='password' data-validate-field='password' name='password' placeholder=`${forms.password}`)
  input(type='submit' value=`${forms.login}`)
form(action='/user/create' method='POST' id='register')
  input(type='text' data-validate-field='first_name' name='first_name' placeholder=`${forms.first_name}`)
  input(type='text' data-validate-field='last_name' name='last_name' placeholder=`${forms.last_name}`)
  input(type='tel' data-validate-field='phone' name='phone' placeholder=`${forms.phone_number}`)
  input(type='text' data-validate-field='email' name='email' placeholder=`${forms.email}`)
  input(type='password' data-validate-field='new_password' name='password' placeholder=`${forms.password}`)
  input(type='submit' value=`${forms.register}`)
