extends layout.pug

block content
    div(class="row")
        if redirect === "login"
            p= text.request_new_confirmation.not_confirmed
        else
            p= text.request_new_confirmation.normal
    div(class="row")
        form(action='/request/new/confirmation' method='POST' id='confirmation')
            div(class='input-field row')
                label(for='email')= forms.email
                input(type='text' id='email' data-validate-field='email' name='email', value=`${email}`)
            button(class="btn waves-effect waves-light" type="submit" name="action") #{forms.send}

block scripts            
    script(src='/js/just-validate.js' type='application/javascript')
    script(src='/js/request_new_confirmation.js' type='module')