meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
meta(name='viewport' content='width=device-width,initial-scale=1')

p Lieber/Liebe #{first_name},
p anbei übermitteln wir dir dein neues Password:
    ul 
        li Passwort: #{password}
        li Email: #{email}
if !email_confirmed
    p Wir haben festgestellt, dass dein Account noch nicht aktiviert ist.
    | Bevor du dich anmelden kannst musst du noch deinen Account aktivieren.
    | Das kannst du machen indem du 
    a(href=`${base_url}/confirm/email?token=${token}`) hier 
    | clickst, oder die folgende Adresse in deinen Browser kopierts.

    p #{base_url}/confirm/email?token=#{token} 